#chart{
  width: 100%;
  height: 100%;
}
.context .axis--x line{
  display: none;
}
.focus .axis--y line{
  display: none;
}
.focus .axis--prc line{
  display: none;
}
.focus .axis--prc text{
  font-size: 14px;
  color: #25CE77;
  font-family: 'Roboto';
}
.focus .axis--y text{
  font-size: 14px;
  color: #4C5451;
  font-family: 'Roboto';
}
.focus .axis--x text{
  font-size: 14px;
  color: #4C5451;
  font-family: 'Roboto';
}
.context .axis--x text{
  font-size: 14px;
  color: #4C5451;
  font-family: 'Roboto';
}
.area {
  fill: url(#linear-gradient);
  clip-path: url(#clip);
  stroke: #eaeaea;
  
}
.line{
  stroke: #4C5451;
  fill: transparent;
  clip-path: url(#clip);
}
.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.selection{
  position: relative;
}
.brush .handle{
  width: 5px;
  border-radius: 15px;
  rx: 3;
  ry: 3;
  fill: #4C5451;
}
.mytooltip{
  position: absolute;
  transition: top .2s, left .2s;
}
.withdrawtooltip{
  position: absolute;
  opacity: 0;
  transition: opacity .3s;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  font-family: 'Open Sans';
  color: #4C5451;
  font-size: 12px;
  padding: 8px;
}
.brush .handle--e::before{
  width: 100%;
  background: #000;

}
#income-tooltip{
  padding: 16px 25px 31px 17px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  font-family: 'Open Sans';
  width: 290px;
  box-sizing: border-box;
  color: #4C5451;
}
#income-tooltip .text-row{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 7px;
  font-size: 12px;
}
#income-tooltip .date{
  font-size: 18px;
  margin-bottom: 12px;
}
#income-tooltip .text-row span{
  max-width: 160px;
}
#income-tooltip .text-row .val{
  font-size: 16px;
  font-family: 'Roboto';
}
#income-tooltip .text-row .prc{
  font-weight: 500;
}
.focus{
  border: 1px solid #eaeaea;
}
.domain{
  display: none;
}
.hover-line {
  stroke: #25CE77;
  opacity: .6;
  stroke-width: 1px;
}
.data-circle{
  clip-path: url(#clip);
}
.prc {
  fill: none;
  stroke: #25CE77;
  stroke-width: 2px;
  clip-path: url(#clip);
}
.axis--x .tick line{
  fill: #D8D8D8;
  opacity: .1;
}
.graphBody{
  position: relative;
  height: 100%;
}